.error {
    border: 2px red solid;
    border-radius: 3px;
}

.errorMsg {
    color: red;
}

.btnActive{
    background-color: #1e85ff;
}

.doneTask{
    opacity: 0.7;
    text-decoration: line-through;

}

