

h3 {
    display: inline-block;
}

ul {
    padding: 10px 0 0 0;
}

li {
    height: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.todolistHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputWrapper {
    display: flex;
    align-items: center;
}
