h1, h2, h3, h4, h5 {
    margin: 20px 0;
    display: inline-block;
}


.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

li {
    margin: 2px 0;
    gap: 10px;
    list-style: none;
    display: flex;
    position: relative;
}

li button {
    margin-left: auto;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 10px 0;
    padding-left: 0;
}

.todoListTitle{
    position: relative;
}

input {
    outline: none;
}

.inputWrapper {
    max-height: 22px;
    display: inline-block;
    position: relative;
}

.error {
    border: 2px solid red;
    border-radius: 2px;
}

.errorMessageTask,
.errorMessageTitle {
    user-select: none;
    font-size: 12px;
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-80%, -50%, 10px);
    font-weight: 400;
    width: 85px;
}


.activeBtn {
    background: teal;
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
}