
ul {
    padding-left: 20px;
}

.inputWrapper{
    height: 35px;
}

input:focus {
    outline: none;
}


li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.removeBtn {
    margin-left: auto;
}

